{
  "env": {
    "amd": true,
    "browser": true,
    "jest": true
  },
  "extends": "airbnb",
  "rules": {
    "func-names": "off",
    "jsx-a11y/href-no-hash": "off",
    "key-spacing": "off",
    "max-len": ["error", 120],
    "no-bitwise": "off",
    "no-cond-assign": "off",
    "no-extra-semi": "off",
    "no-multi-assign": "off",
    "no-new-object": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-prototype-builtins": "off",
    "no-restricted-properties": "off",
    "no-restricted-syntax": "off",
    "no-shadow": "off",
    "no-trailing-spaces": "off",
    "no-underscore-dangle": "off",
    "no-unused-expressions": "off",
    "object-shorthand": "off",
    "one-var": "off",
    "one-var-declaration-per-line": "off",
    "prefer-arrow-callback": "off",
    "prefer-const": "off",
    "prefer-rest-params": "off",
    "prefer-template": "off",
    "strict": "off",
    "wrap-iife": ["error", "any"]
  }
}
