//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  @include clearfix;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

.hidden {
  display: none !important;
}
.visible {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
$i: 0;
@while $i <= 100 {
  .opacity-#{$i} {
    opacity: ($i/100);
  }
  $i: $i + 5;
}


// Text Classes
// -------------------------

.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }
.text-hide           { @include text-hide; }

.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }